/* ---- 4.3 Card ---- */
@use "../variables"

.card
  display: flex
  flex-direction: row
  gap: 2%
  border: solid 1px variables.$c-silver
  padding: 1.5rem
  background: linear-gradient(154.5deg, variables.$c-white 0%, variables.$c-silver 100%)
/* ---- End Card ---- */
